[Unit]
Description=MTVServerRust service file
After=network.target

[Service]
ExecStart=/usr/bin/mtvserverrust
Restart=always

[Install]
WantedBy=multi-user.target